<style>
  #primary-menu.style-3 > ul > li.current > a {
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background-color: #6F363C;
}
</style>
  
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
  
      <!-- Top Bar
      ============================================= -->
      <div id="top-bar">
  
        <div class="container clearfix">
  
          <div class="col_half d-none d-md-block nobottommargin">
  
            <!-- Top Links
            ============================================= -->
            <div class="top-links">
              <ul>
                <li><a href="#"><i class="icon-time"></i> Agende seu horário</a></li>
                <li><a href="#"><i class="icon-phone3"></i>Whatsapp 62 99999-9999</a></li>
                <li><a href="#" class="nott"><i class="icon-envelope2"></i> medical@canvas.com</a></li>
              </ul>
            </div><!-- .top-links end -->
  
          </div>
  
          <div class="col_half col_last fright nobottommargin">
  
            
  
          </div>
  
        </div>
  
      </div><!-- #top-bar end -->
  
  	<!-- Header
		============================================= -->
		<header id="header">
      
            <div id="header-wrap">
      
              <div class="container clearfix">
      
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      
                <!-- Logo
                ============================================= -->
                <div id="logo">
                  <a href="index.html" class="standard-logo"><img src="images/logo-nubia-01.png" alt="Canvas Logo"></a>
                  <a href="index.html" class="retina-logo"><img src="demos/medical/images/logo-medical@2x.png" alt="Canvas Logo"></a>
                </div><!-- #logo end -->
      
                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu" class="style-3">
      
                  <ul>
                    <li class="current"><a href="#"><div>Home</div></a></li>
                    <li><a href="#"><div>Sobre Nós</div></a></li>
                    <li><a href="#"><div>Serviços</div></a></li>
                    <li><a href="#"><div>Equipe</div></a></li>
                    <li><a href="#"><div>Blog</div></a></li>
                    <li><a href="#"><div>Contato</div></a></li>
                  </ul>
      
                </nav><!-- #primary-menu end -->
      
              </div>
      
            </div>
      
          </header><!-- #header end -->
      
      