
<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Montserrat:400,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Medical Demo Specific Stylesheet -->
	<link rel="stylesheet" href="demos/medical/medical.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="demos/medical/css/medical-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="demos/medical/fonts.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="css/colors.php?color=DE6262" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>Nubia Odontologia</title>

	<style>
		.form-control.error { border: 2px solid red; }

    #footer {
    position: relative;
    background-color: #EEE;
    border-top: 5px solid rgba(0,0,0,0.8);
}
	</style>

</head>

<body class="stretched" data-loader-html="<div id='css3-spinner-svg-pulse-wrapper'><svg id='css3-spinner-svg-pulse' version='1.2' height='210' width='550' xmlns='http://www.w3.org/2000/svg' viewport='0 0 60 60' xmlns:xlink='http://www.w3.org/1999/xlink'><path id='css3-spinner-pulse' stroke='#DE6262' fill='none' stroke-width='2' stroke-linejoin='round' d='M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210' /></svg></div>">
    

{{>bsnavbar}}



{{{body}}}

<footer id="footer" class="dark" style="background: url('images/bgfooter.jpg') repeat fixed; background-size: 100% 100%;">
  
        <div class="container">
  
          <!-- Footer Widgets
          ============================================= -->
          <div class="footer-widgets-wrap clearfix">
  
            <div class="col_two_third">
  
              <div class="widget clearfix">
  
                <img src="images/footer-widget-logo.png" alt="" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">
  
                <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>
  
                <div class="line" style="margin: 30px 0;"></div>
  
                <div class="col_half">
                  <div class="widget clearfix">
  
                    <div class="d-none d-lg-block"><div class="clear" style="padding-top: 10px;"></div></div>
  
                    <div class="row">
                      <div class="col-lg-6 bottommargin-sm center">
                        <div class="counter counter-small" style="color: #35BBAA;"><span data-from="50" data-to="15065425" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                        <h5 class="nobottommargin">Total Downloads</h5>
                      </div>
  
                      <div class="col-lg-6 bottommargin-sm center col_last">
                        <div class="counter counter-small" style="color: #2CAACA;"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                        <h5 class="nobottommargin">Clients Served</h5>
                      </div>
                    </div>
  
                  </div>
                </div>
  
                <div class="col_half col_last">
                  <div class="widget subscribe-widget clearfix">
                    <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
                    <div class="widget-subscribe-form-result"></div>
                    <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                      <div class="input-group divcenter">
                        <div class="input-group-prepend">
                      <div class="input-group-text"><i class="icon-email2"></i></div>
                    </div>
                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                        <div class="input-group-append">
                          <button class="btn btn-success" type="submit">Subscribe</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
  
              </div>
  
            </div>
  
            <div class="col_one_third col_last">
  
              <div class="widget clearfix">
                <h4>Instagram Photos</h4>
                <div id="instagram-photos" class="instagram-photos masonry-thumbs grid-5" data-user="269801886" data-count="10" data-type="tag"></div>
              </div>
  
            </div>
  
          </div><!-- .footer-widgets-wrap end -->
  
        </div>
  
        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">
  
          <div class="container clearfix">
  
            <div class="col_half">
              <div class="copyrights-menu copyright-links clearfix">
                <a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
              </div>
              Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.
            </div>
  
            <div class="col_half col_last tright">
              <div class="fright clearfix">
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-pinterest">
                  <i class="icon-pinterest"></i>
                  <i class="icon-pinterest"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-vimeo">
                  <i class="icon-vimeo"></i>
                  <i class="icon-vimeo"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
                  <i class="icon-github"></i>
                  <i class="icon-github"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-yahoo">
                  <i class="icon-yahoo"></i>
                  <i class="icon-yahoo"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
                  <i class="icon-linkedin"></i>
                  <i class="icon-linkedin"></i>
                </a>
              </div>
            </div>
  
          </div>
  
        </div><!-- #copyrights end -->
  
      </footer><!-- #footer end -->
  
    </div><!-- #wrapper end 'images/footer-bg.jpg'-->
  
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
  
    <!-- External JavaScripts
    ============================================= -->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
  
    <!-- Footer Scripts
    ============================================= -->
    <script src="js/functions.js"></script>
  </body>
  </html>  